
@{
    ViewData["Title"] = "newGame";
}

<div class="container invisible" id="newGame">
    <div class="row justify-content-center align-items-start upper-container">
        <div class="col-4 mt-3">
            <div class="card proj-red-card">
                <div class="card-body">
                    <div class="row align-items-center m-b-30">
                        <div class="col-auto">
                            <i class="fas fa-user text-c-red"></i>
                        </div>
                        <div class="col p-l-0">
                            <h6 class="m-b-0 text-c-red">@Settings.bot1Name</h6>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-clock text-c-red f-18"></i>
                        </div>                        
                        <div class="col p-l-0">
                            <h6 class="m-b-0">@Settings.bot1Status</h6>
                        </div>                        
                    </div>
                    <h6 class="pt-badge bg-c-red">@Settings.bot1CBid/@Settings.bot1Bid</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between align-items-center middle-container">
        <div class="col-4">
            <div class="card proj-blue-card">
                <div class="card-body">
                    <div class="row align-items-center m-b-30">
                        <div class="col-auto">
                            <i class="fas fa-user text-c-blue"></i>
                        </div>
                        <div class="col p-l-0">
                            <h6 class="m-b-0 text-c-blue">@Settings.bot2Name</h6>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-clock text-c-blue f-18"></i>
                        </div>
                        <div class="col p-l-0">
                            <h6 class="m-b-0">@Settings.bot2Status</h6>
                        </div>
                    </div>
                    <h6 class="pt-badge bg-c-blue">@Settings.bot2CBid/@Settings.bot2Bid</h6>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card proj-green-card">
                <div class="card-body">
                    <div class="row align-items-center m-b-30">
                        <div class="col-auto">
                            <i class="fas fa-user text-c-green"></i>
                        </div>
                        <div class="col p-l-0">
                            <h6 class="m-b-0 text-c-green">@Settings.bot3Name</h6>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-clock text-c-green f-18"></i>
                        </div>
                        <div class="col p-l-0">
                            <h6 class="m-b-0">@Settings.bot3Status</h6>
                        </div>
                    </div>
                    <h6 class="pt-badge bg-c-green">@Settings.bot3CBid/@Settings.bot3Bid</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-end bottom-container">
        <div class="col-4">
            <div class="card proj-yellow-card">
                <div class="card-body">
                    <div class="row align-items-center m-b-30">
                        <div class="col-auto">
                            <i class="fas fa-user text-c-yellow"></i>
                        </div>
                        <div class="col p-l-0">
                            <h6 class="m-b-0 text-c-yellow">@Settings.hPlayerName</h6>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-clock text-c-yellow f-18"></i>
                        </div>
                        <div class="col p-l-0">
                            <h6 class="m-b-0">@Settings.hPlayerStatus</h6>
                        </div>
                    </div>
                    <h6 class="pt-badge bg-c-yellow">@Settings.hPlayerCBid/<span id="hPlayerBid">@Settings.hPlayerBid</span></h6>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    
</script>
