@{
    ViewData["Title"] = "Spades Game";
}



<div class="row justify-content-center mt-3">
    <div class="col-3">
        @Html.Partial("~/Views/mainLog.cshtml")
    </div>
    <div class="col-7">
        <div id="mainboard">
            @Html.Partial("~/Views/newGame.cshtml")
            <img src="~/img/main_img.png" alt="Alternate Text" id="imgLogo" />
            <button id="deal" type="button" class="btn btn-info new-game-btn" data-toggle="modal" data-target="#bidModal">New Game</button>
            <i class="fas fa-cog user-settings" data-toggle="modal" data-target="#settings"></i>
        </div>
    </div>
    <div class="col-2">
        @Html.Partial("~/Views/scoreBoard.cshtml")
    </div>
</div>

@Html.Partial("~/Views/Settings.cshtml")
@Html.Partial("~/Views/BidModal.cshtml")
@Html.Partial("~/Views/About.cshtml")
@Html.Partial("~/Views/HowToPlay.cshtml")

